<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django-Commerce</title>
    {% comment %} <link rel="stylesheet" href="{% static 'shop/style.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header>
        <a href="{% url 'product_list' %}">Home</a>
        <a href="{% url 'cart' %}">
            <i class="fas fa-shopping-cart"></i>
            Cart ({{ cart_items|length }})
        </a>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
